.centered_text {
    text-align: center;
}


.centered_div {
    border: 2px solid black;
    position: absolute;
    height: 80%;
    width: 80%;

    top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
    
    padding: 1%;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #2196F3;
    
    align-items: center;
    justify-items: center;    
}

.grid_item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid red;

    height: 95%;
    width: 95%;
}

.img_div {
    border: 2px solid orange;

    height: 90%;
    width: 90%;
}