.centered_text {
    text-align: center;
}


.centered_div {
    /* maybe remove this border? */
    border: 2px solid black;
    position: absolute;
    height: 80%;
    width: 80%;

    top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto;
    
    padding: 1%;
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    align-items: center;
    justify-items: center;    
}

.grid_item {
    height: 95%;
    width: 95%;
}

.img_div {
    height: 90%;
    width: 90%;
}