
#full_page_div {
    height: 100%;
    width: auto;
    display: inline-block;

    overflow-x: auto;
    padding: 0% 10%;
    margin: 0;

    position: absolute;
}

p:not(:first-of-type) {
    text-align: justify;
}

.header {
    font-weight: bold;
    font-size: 18px;
}

.title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#menu_button {
    float: right;
    margin-bottom: 3%;
    height: 35px;

}