.centered_div {
    position: absolute;

    top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto auto auto auto;    
}

#full_page_div {
    height: 100%;
    width: 80%;
    display: inline-block;
    /* background-color: pink; */

    min-width: 80%;
}

p:not(:first-of-type) {
    text-align: justify;
}

.header {
    font-weight: bold;
    font-size: 18px;
}

.title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
