.centered_text {
    text-align: center;
}

#grid_div {
    height: 90%;
    width: 80%;
    /* background-color: white; */
}

.centered_div {
    position: absolute;

    top:0;
	bottom: 0;
	left: 0;
	right: 0;
    margin: auto auto auto auto;    
}


.grid_container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;

    align-items: center;
    justify-items: center;
    background-color: white;
}

.grid_item {
    height: 95%;
    width: 95%;
    box-sizing: border-box;
    background-color: lightblue;

    border: 2px solid rgba(255,255,255,0.1);

}

.grid_item:hover {
    border-color:black; /* todo: change when all is ready*/ 
}

.img_in_div {
    height: 87%;
    width: 87%;
    margin-top: 2%;


    background-color: pink;
}