.canv {
    /* width, height and position should be set in code */
    position: absolute;
    border: 1px solid black;
    background-color: white;
    
}

.horizontal_line {
    /* width and position should be set in code */
    border-top: 2px dashed black;
    position: absolute;
    height: 0px;
}


.vertical_line {
    /* height and position should be set in code */
    border-left: 2px dashed black;
    width: 0px;
    position: absolute;
}

.line_button {
    height: 4%;
    position: absolute;
}


#eraser {
    background-color: green;
    border: 0px;
}


#colour_picker_div, #id_div, #buttons {
    width: 25%;
    min-width: auto;
    height: 100%;
    float: left;
    margin: auto 4% auto 4%;

    text-align: center;
}

#id_display{
    height: 100%;
    font-size: large; 
}


#buttons button {
    height: 60%;
    margin: 0% auto 0% auto;
}

#colour_picker_div * {
    height: 55%;
    width: 10%;
}

#colour_picker {
    width: 20%;
}

#colour_picker, #eraser {
    margin-left: 4%;
}


#line_width {
    font-size: 1.8em;
}


#eraser {
    background-image: url("./../icons/eraser_small.ico");
    height: 35px;
    width: 40px;
}

