.canv {
    /* width, height and position should be set in code */
    position: absolute;
    border: 1px solid black;
    background-color: white;
    
}

.horizontal_line {
    /* width and position should be set in code */
    border-top: 2px dashed black;
    position: absolute;
    height: 0px;
}


.vertical_line {
    /* height and position should be set in code */
    border-left: 2px dashed black;
    width: 0px;
    position: absolute;
}

.line_button {
    /* background-color: green; */
    height: 25px;
    position: absolute;
}