{% extends 'base.html' %}
{% load static %}

{% block head %}

    <title>Mirror Draw Start</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />

{% endblock %}


{% block body %}

    <div id="full_page_div">
        <p id="heading"> Welcome to Mirror Draw</p>
        <p id="text">Mirror Draw helps you easily create symmetrical
            pictures by mirroring your drawing horizontally and vertically!</p>
        <img id="img" src="{% static 'images/example.png'%}">
        <button id="btn" onclick="location.href='./draw/'">Get Started</button>
    </div>

{% endblock %}